h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url(../img/Fundo%20Claro%20Azul.jpg)
}

html {
    height: 100%;
}

.container {
    max-width: 40% !important;

}

form {
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    padding: 2em;
    box-shadow: 0px 2px 5px 3px rgb(42, 63, 252);
}

form, fieldset {
    border: 5px solid rgb(132, 132, 246);
}

